<?xml version="1.0"?>
<launch>
    <!-- Launch arguments -->
    <arg name="use_rviz" default="true" />
    <arg name="rviz_config" default="$(find your_package_name)/config/robot_control.rviz" />
    <arg name="use_sim_time" default="false" />
    
    <!-- Load robot description -->
    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find your_package_name)/urdf/robots/arm.urdf.xacro'" />
    
    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" 
          pkg="robot_state_publisher" 
          type="robot_state_publisher" 
          output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="use_sim_time" value="$(arg use_sim_time)" />
    </node>
    
    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" 
          pkg="joint_state_publisher" 
          type="joint_state_publisher" 
          output="screen">
        <param name="rate" value="50" />
        <rosparam param="source_list">["joint_command"]</rosparam>
    </node>
    
    <!-- IK Solver Node -->
    <node name="ik_solver" 
          pkg="agrirover_manipulation" 
          type="ik_solver" 
          output="screen">
        <param name="solver_timeout" value="0.1" />
        <param name="max_iterations" value="100" />
        <remap from="/target_pose" to="/ik_solver/target_pose" />
        <remap from="/joint_angles" to="/ik_solver/joint_angles" />
    </node>
    
    <!-- Motor Commander Node -->
    <node name="motor_commander" 
          pkg="agrirover_manipulation" 
          type="serial_motor_commander" 
          output="screen">
        <param name="control_rate" value="100" />
        <param name="use_position_control" value="true" />
        <remap from="/joint_command" to="/motor_commander/joint_command" />
        <remap from="/joint_states" to="/motor_commander/joint_states" />
    </node>
    
    <!-- RViz -->
    <node if="$(arg use_rviz)" 
          name="rviz" 
          pkg="rviz" 
          type="rviz" 
          args="-d $(arg rviz_config)" 
          output="screen" />
    

      <node name="interactive_marker_server" 
          pkg="agrirover_manipulation" 
          type="interactive_marker_server" 
          output="screen" />
    
</launch>
